In [25]:
#importing panda library 
import pandas as pd

Importing the necessary libraries is key

In [26]:
#Importing the csv file into pandas
df = pd.read_csv(r'C:\Users\Windows 10\OneDrive - Universiti Teknologi MARA\Desktop\EPL Standings 2000-2022.csv', index_col = False)
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
1,2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2,2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
3,2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [27]:
#Counting the duplicates
df.duplicated().sum()

0

First thing we need to do is make sure that there are no duplicates in the dataset. If there are, the duplicates are to be removed.

In [28]:
#Select only the last five seasons 
df = df[df['Season'].isin(['2018-19','2019-20','2020-21','2021-22'])]
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
360,2018-19,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
361,2018-19,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
362,2018-19,3,Chelsea,38,21,9,8,63,39,24,72,Qualification for the Champions League group s...
363,2018-19,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Qualification for the Champions League group s...
364,2018-19,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

Because there are a lot of data involving football transfers which dates back to the year 2000, I have decided to only take rows from the past 5 years.

In [29]:
#Reset the index so we can have a cleaner primary key later on 
df = df.reset_index()
df

,index,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,360,2018-19,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
1,361,2018-19,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
2,362,2018-19,3,Chelsea,38,21,9,8,63,39,24,72,Qualification for the Champions League group s...
3,363,2018-19,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Qualification for the Champions League group s...
4,364,2018-19,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,435,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,436,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,437,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
78,438,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
79,439,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [30]:
#drop column named index
df = df.drop(['index'], axis = 1)
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2018-19,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
1,2018-19,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
2,2018-19,3,Chelsea,38,21,9,8,63,39,24,72,Qualification for the Champions League group s...
3,2018-19,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Qualification for the Champions League group s...
4,2018-19,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
78,2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
79,2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [31]:
#Renaming 'season' column to match with the 'season' column in the 'transfers 
df['Season'] = df['Season'].replace(['2018-19','2019-20','2020-21','2021-22'], ['2018/2019','2019/2020','2020/2021','2021/2022'])
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2018/2019,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
1,2018/2019,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
2,2018/2019,3,Chelsea,38,21,9,8,63,39,24,72,Qualification for the Champions League group s...
3,2018/2019,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Qualification for the Champions League group s...
4,2018/2019,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021/2022,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,2021/2022,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,2021/2022,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
78,2021/2022,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
79,2021/2022,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

The season format is changed to match with the season format in the Transfers table. This is so that I can join these two tables together when the data is imported into MSSQL later.

In [32]:
#Renaming rows in 'Qualification or relegation' column to a simpler name 
df['Qualification or relegation'] = df['Qualification or relegation'].replace(['Qualification for the Champions League group stage','Relegation to the EFL Championship'],['Champions League','Relegated'])
df

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2018/2019,1,Manchester City,38,32,2,4,95,23,72,98,Champions League
1,2018/2019,2,Liverpool,38,30,7,1,89,22,67,97,Champions League
2,2018/2019,3,Chelsea,38,21,9,8,63,39,24,72,Champions League
3,2018/2019,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Champions League
4,2018/2019,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021/2022,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,2021/2022,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,2021/2022,18,Burnley,38,7,14,17,34,53,-19,35,Relegated
78,2021/2022,19,Watford,38,6,5,27,34,77,-43,23,Relegated
79,2021/2022,20,Norwich City,38,5,7,26,23,84,-61,22,Relegated

Renamed the values to a more easy-to-read and simpler value.

In [33]:
#Renaming columns 
df= df.rename(columns = {'Season':'season','Pos':'position','Team':'club_name','Pld':'played','Pts':'points','Qualification or relegation':'qualification/relegation'})
df

,season,position,club_name,played,W,D,L,GF,GA,GD,points,qualification/relegation
0,2018/2019,1,Manchester City,38,32,2,4,95,23,72,98,Champions League
1,2018/2019,2,Liverpool,38,30,7,1,89,22,67,97,Champions League
2,2018/2019,3,Chelsea,38,21,9,8,63,39,24,72,Champions League
3,2018/2019,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Champions League
4,2018/2019,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021/2022,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,2021/2022,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,2021/2022,18,Burnley,38,7,14,17,34,53,-19,35,Relegated
78,2021/2022,19,Watford,38,6,5,27,34,77,-43,23,Relegated
79,2021/2022,20,Norwich City,38,5,7,26,23,84,-61,22,Relegated

These columns are also renamed to make them more readable and understandable to readers.

In [34]:
#Renaming the index column
df.index.name = 'standings_id'
df

,season,position,club_name,played,W,D,L,GF,GA,GD,points,qualification/relegation
standings_id,,,,,,,,,,,,
0,2018/2019,1,Manchester City,38,32,2,4,95,23,72,98,Champions League
1,2018/2019,2,Liverpool,38,30,7,1,89,22,67,97,Champions League
2,2018/2019,3,Chelsea,38,21,9,8,63,39,24,72,Champions League
3,2018/2019,4,Tottenham Hotspur,38,23,2,13,67,39,28,71,Champions League
4,2018/2019,5,Arsenal,38,21,7,10,73,51,22,70,Qualification for the Europa League group stag...
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021/2022,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
76,2021/2022,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
77,2021/2022,18,Burnley,38,7,14,17,34,53,-19,35,Relegated
78,2021/2022,19,Watford,38,6,5,27,34,77,-43,23,Relegated
79,2021/2022,20,Norwich City,38,5,7,26,23,84,-61,22,Relegated

The Standings ID will be the primary key for this particular table.

In [35]:
#Export the dataframe into a csv file
df.to_csv('standings_cleaned.csv',index = True)

With the simple data cleaning process done, we can now upload the csv file into the database.